.vscode/**
out/src/test/**
src/test/**
src/src/**
src/server/installServerIntoExtension.cmd
src/server/installServerIntoExtension
src/**/*.map
.gitignore
src/tsconfig.json
server/**
out/**/*.js.map
out/server/test

**/*.ts
**/tsconfig.json
**/tslint.json
**/.gitignore
package-lock.json
**/*.map
